.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(52, 157, 238);
  display: inline-block;
}

.finish {
  background-color: red;
}

.start {
  background-color: green;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(118, 175, 248, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(78, 139, 245, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(15, 76, 241, 0.75);
  }
}


.wall {
  background-color: rgb(12, 53, 71);

  /* animation-name: wallFlip;
  animation-duration: 0.25s;
  animation-timing-function:ease-in-out;
  animation-delay: 0;
  animation-direction: inherit;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; */
}

@keyframes wallFlip {
  0% {
    transform: scale(0.6);
    background-color: rgb(12, 53, 71);
  }

  50%{
    transform: scale(1.1);
    background-color: rgb(12, 53, 71);
  }

  100%{
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(111, 255, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(57, 168, 42);
  }

  100% {
    transform: scale(1);
    background-color: rgb(3, 145, 10);
  }
}

